body {
  width: 100vw;
  height: 100vh;
}

.table-page {
  background: linear-gradient(180deg, rgb(51.4, 84.42, 137.24) 0%, rgba(50, 75, 115, 0.76));
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.table-page .div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.table-page .table-and-seats {
  position: absolute;
  width: 1242px;
  height: 504px;
  top: 55%;
  left: 50%;
  margin: -330px 0 0 -621px;
}

.table-page .action-buttons {
  position: absolute;
  width: 1100px;
  height: 115px;
  top: 82%;
  left: 50%;
  margin: 0 0 0 -550px;
}

.table-page .profile-picture-1 {
  top: 413px;
  left: 1151px;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .profile-picture-2 {
  top: 413px;
  left: 0;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .profile-picture-3 {
  top: 0;
  left: 1151px;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .profile-picture-4 {
  top: 0;
  left: 0;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .border-rectangle {
  position: absolute;
  width: 1068px;
  height: 488px;
  top: 12px;
  left: 87px;
}

.table-page .inner-rectangle {
  position: absolute;
  width: 980px;
  height: 400px;
  top: 52px;
  left: 131px;
}

.table-page .lchp-5 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 155px;
  left: 171px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(-50deg);
}

.table-page .rchp-5 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 108px;
  left: 208px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(-50deg);
}

.table-page .lchp-4 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 62px;
  left: 565px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .rchp-4 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 62px;
  left: 624px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .left-flop {
  position: absolute;
  width: 68px;
  height: 100px;
  top: 202px;
  left: 427px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .middle-flop {
  position: absolute;
  width: 68px;
  height: 100px;
  top: 202px;
  left: 507px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .right-flop {
  position: absolute;
  width: 68px;
  height: 100px;
  top: 202px;
  left: 587px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .turn {
  position: absolute;
  width: 68px;
  height: 100px;
  top: 202px;
  left: 667px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .river {
  position: absolute;
  width: 68px;
  height: 100px;
  top: 202px;
  left: 747px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .lchp-2 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 319px;
  left: 979px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(-50deg);
}

.table-page .rchp-2 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 273px;
  left: 1017px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(-50deg);
}

.table-page .lchp-1 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 367px;
  left: 565px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .rchp-1 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 367px;
  left: 624px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
}

.table-page .rchp-6 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 319px;
  left: 208px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(50deg);
}

.table-page .lchp-6 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 273px;
  left: 170px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(50deg);
}

.table-page .lchp-3 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 108px;
  left: 979px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(51deg);
}

.table-page .rchp-3 {
  position: absolute;
  width: 51px;
  height: 75px;
  top: 155px;
  left: 1017px;
  background-color: #2f486fc9;
  border-radius: 3px;
  border: 1px dashed;
  border-color: #a4a2a299;
  transform: rotate(51deg);
}

.table-page .text-wrapper {
  position: absolute;
  width: 199px;
  height: 56px;
  top: 298px;
  left: 522px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff1a;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .profile-picture-5 {
  top: 520px;
  left: 575px;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .profile-picture-6 {
  top: -110px;
  left: 575px;
  position: absolute;
  width: 91px;
  height: 91px;
  background-color: #8a8888;
  border-radius: 20px;
  border: 1px solid;
  border-color: #b3b3b3;
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .fold-call-group {
  position: absolute;
  width: 219px;
  height: 115px;
  top: 57.5px;
  left: 270px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .fold-wrap {
  position: absolute;
  width: 201px;
  height: 88px;
  top: 0;
  left: 18px;
}

.table-page .fold-button {
  position: absolute;
  width: 194px;
  height: 56px;
  top: 16px;
  left: 3px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #e3aeb1;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(238, 85, 93) 0%, rgb(233.75, 148.96, 153.39) 100%);
}

.table-page .fold-text {
  position: absolute;
  width: 194px;
  height: 55px;
  top: 16px;
  left: 3px;
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .call-wrap {
  position: absolute;
  width: 101px;
  height: 42px;
  top: 73px;
  left: 10px;
}

.table-page .call-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 9px;
  left: 1px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .call-text {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 11px;
  left: 1px;
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .raise-check-group {
  position: absolute;
  width: 219px;
  height: 115px;
  top: 57.5px;
  left: 830px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .raise-wrap {
  position: absolute;
  width: 202px;
  height: 88px;
  top: 0;
  left: 0;
}

.table-page .raise-button {
  position: absolute;
  width: 194px;
  height: 56px;
  top: 16px;
  left: 3px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #bfdca2;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(147, 203, 91) 0%, rgb(196.17, 223.59, 168.76) 100%);
}

.table-page .raise-text {
  position: absolute;
  width: 194px;
  height: 55px;
  top: 16px;
  left: 5px;
  transform: rotate(-9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .check-wrap {
  position: absolute;
  width: 104px;
  height: 45px;
  top: 73px;
  left: 107px;
}

.table-page .max-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 10px;
  left: 2px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .check-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 10px;
  left: 2px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .check-text {
  position: absolute;
  width: 100px;
  height: 26px;
  top: 12px;
  left: 1px;
  transform: rotate(-9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .subtract-wrap {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 65px;
  left: 460px;
  margin: -25px 0 0 -22.5px;
}

.table-page .subtract-raise {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1px;
  left: 0;
  background-color: #ee555dcc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

#subtractRaise{
  
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1px;
  left: 0;
  background-color: #ee555dcc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;


}
.table-page .subtract-text {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5px;
  left: 0;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .add-text {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 5px;
  left: 0;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .add-wrap {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 65px;
  left: 640px;
  margin: -25px 0 0 -22.5px;
}

.table-page .add-raise {
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1px;
  left: 0;
  background-color: #93cb5bcc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
}

#addRaise{
  position: absolute;
  width: 45px;
  height: 45px;
  top: 1px;
  left: 0;
  background-color: #93cb5bcc;
  border-radius: 10px;
  box-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

}

.table-page .amount-bet-text {
  position: absolute;
  width: 91px;
  height: 55px;
  top: 65px;
  left: 550px;
  margin: -28.75px 0 0 -45.5px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .min-wrap {
  position: absolute;
  width: 104px;
  height: 45px;
  top: 57.5px;
  left: 160px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .min-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 9px;
  left: 2px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .min-text {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 11px;
  left: 2px;
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .max-wrap {
  position: absolute;
  width: 104px;
  height: 46px;
  top: 57.5px;
  left: 1055px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .max-text {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 12px;
  left: 2px;
  transform: rotate(-9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .half-wrap {
  position: absolute;
  width: 103px;
  height: 42px;
  top: 108px;
  left: 150px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .half-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 9px;
  left: 3px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .half-text {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 11px;
  left: 3px;
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.table-page .pot-wrap {
  position: absolute;
  width: 104px;
  height: 45px;
  top: 110px;
  left: 1065px;
  margin: -57.5px 0 0 -109.5px;
}

.table-page .pot-button {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 9px;
  left: 2px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
}

.table-page .pot-text {
  position: absolute;
  width: 100px;
  height: 26px;
  top: 11px;
  left: 2px;
  transform: rotate(-9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.logout-group {
  all: unset;
  box-sizing: border-box;
  width: 74px;
  height: 33px;
}

.logout-group .logout-button {
  all: unset;
  box-sizing: border-box;
  position: fixed;
  width: 76px;
  left: 0;
  height: 33px;
  top: 0;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  font-family: "Dangrek", sans-serif;
  text-shadow: 0px 4px 4px #00000080;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
}

.logout-group .logout-wrap {
  position: absolute;
  width: 82px;
  height: 41px;
  top: 2%;
  left: 94%;
  background-size: 100% 100%;
}

.text-wrapper-12 {
  position: absolute;
  width: 74px;
  height: 33px;
  top: 0;
  left: 4px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.menu-wrap {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 2%;
  left: 91.5%;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%;
}

.menu-pic {
  width: 22px;
  height: 23px;
  left: 5px;
  position: absolute;
  top: 9px;
  object-fit: cover;
}

.setting-wrap {
  position: absolute;
  width: 33px;
  height: 33px;
  top: 2%;
  left: 89%;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%;
}

.setting-pic {
  width: 15px;
  height: 15px;
  left: 8.5px;
  position: absolute;
  top: 8.5px;
  object-fit: cover;
}

#start-button {
  position: absolute;
  width: 60px;
  height: 33px;
  top: 0%;
  left: 0%;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

#play-button {
  position: absolute;
  width: 60px;
  height: 33px;
  top: 0%;
  left: 4%;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

#callForm {
  position: absolute;
  top: 4%;
  left: 0%;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

#raiseAmount {
  position: absolute;
  width: 90px;
  height: 55px;
  top: 65px;
  left: 550px;
  margin: -28.75px 0 0 -45.5px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

#checkForm {
  position: absolute;
  top: 12%;
  left: 0%;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
}

#callButton {
  position: absolute;
  width: 100px;
  height: 28px;
  top: 9px;
  left: 1px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;

}

#raiseButton {
  position: absolute;
  width: 194px;
  height: 56px;
  top: 16px;
  left: 3px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #bfdca2;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(147, 203, 91) 0%, rgb(196.17, 223.59, 168.76) 100%);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;


}

#checkButton {
  /* position: absolute;
  width: 60px;
  height: 30px;
  top: 12%;
  margin-left: 5px;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff; */
  position: absolute;
  width: 100px;
  height: 28px;
  top: 10px;
  left: 2px;
  background-color: #374b6b;
  border-radius: 30px;
  transform: rotate(-9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 13px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;


}

#foldButton {
  /* position: absolute;
  width: 55px;
  height: 30px;
  top: 16%;
  left: 0%;
  background-color: #2D4974;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  border: 0.5px solid;
  border-color: #586F93;
  background-size: 100% 100%; */

  position: absolute;
  width: 194px;
  height: 56px;
  top: 16px;
  left: 3px;
  border-radius: 30px;
  border: 1px solid;
  border-color: #e3aeb1;
  transform: rotate(9.66deg);
  box-shadow: 0px 4px 4px #00000040;
  background: linear-gradient(180deg, rgb(238, 85, 93) 0%, rgb(233.75, 148.96, 153.39) 100%);
  transform: rotate(9.66deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Dangrek", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
