<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="../static/chip.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/table.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="../static/poker_load.js" type="text/javascript"></script>
    <link href="https://fonts.googleapis.com/css2?family=Dangrek&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="table-page">
      <div class="div">
        <div class="table-and-seats">
          <div class="profile-picture-1"></div>
          <div class="profile-picture-2"></div>
          <div class="profile-picture-3"></div>
          <div class="profile-picture-4"></div>
          <div class="profile-picture-5"></div>
          <div class="profile-picture-6"></div>
          <img class="border-rectangle" src="../static/img/BorderRectangle.svg" />
          <img class="inner-rectangle" src="../static/img/InnerRectangle.svg" />
          <div class="lchp-1"></div>
          <div class="rchp-1"></div>
          <div class="lchp-2"></div>
          <div class="rchp-2"></div>
          <div class="lchp-3"></div>
          <div class="rchp-3"></div>
          <div class="lchp-4"></div>
          <div class="rchp-4"></div>
          <div class="lchp-5"></div>
          <div class="rchp-5"></div>
          <div class="lchp-6"></div>
          <div class="rchp-6"></div>
          <div class="left-flop"></div>
          <div class="middle-flop"></div>
          <div class="right-flop"></div>
          <div class="turn"></div>
          <div class="river"></div>
          <div class="text-wrapper">CHIP CITY</div>
        </div>
        <div class="action-buttons">
          <div class="fold-call-group">
            <div class="fold-wrap">
              <button type="button" value="Submit" id="foldButton" onclick="foldAction()" style="visibility: hidden;">Fold</button>
              <!-- <div class="fold-button"></div>
              <div class="fold-text">FOLD</div> -->
            </div>
            <div class="call-wrap">
              <!-- <div class="call-button"></div>
              
              <div class="call-text">CALL</div> -->
              <button type="button" value="Submit" id="callButton" onclick="callAction()" style="visibility: hidden;">Call</button>

            </div>
          </div>
          <div class="raise-check-group">
            <div class="raise-wrap">
              <button type="button" form="raiseForm" value="Submit" id="raiseButton" onclick="raiseAction()" style="visibility: hidden;">Raise</button>

              
            </div>

            <div class="check-wrap">
              <button type="button" value="Submit" id="checkButton" onclick="checkAction()" style="visibility: hidden;">Check</button>

              <!-- <div class="check-button"></div>
              
              <div class="check-text">CHECK</div> -->
            </div>
          </div>
          <div class="subtract-wrap">
            <button id="subtractRaise" onclick="dec()" style="visibility: hidden;">-</button>
            {% comment %} <div class="subtract-raise"></div>
            <div class="subtract-text">-</div> {% endcomment %}
          </div>
          <div class="add-wrap">
            <button id="addRaise" onclick="inc()" style="visibility: hidden;">+</button>

            {% comment %} <div class="add-raise"></div>
            <div class="add-text">+</div> {% endcomment %}
          </div>
          <div > 
            <form id="raiseForm" style="visibility: hidden;">
              <input type="text" id="raiseAmount" name="raise" value="0" style="visibility: hidden;">
            </form>        
          </div> 
          {% comment %} <div class="min-wrap">
            <div class="min-button"></div>
            <div class="min-text">MIN</div>
          </div>
          <div class="max-wrap">
            <div class="max-button"></div>
            <div class="max-text">MAX</div>
          </div>
          <div class="half-wrap">
            <div class="half-button"></div>
            <div class="half-text">1/2</div>
          </div>
          <div class="pot-wrap">
            <div class="pot-button"></div>
            <div class="pot-text">POT</div> {% endcomment %}
          </div>
        </div>
      </div>
    </div>
    <div class="menu-wrap">
      <img class="menu-pic" src="../static/img/menu-pic.svg">
    </div>
    <div class="setting-wrap">
      <img class="setting-pic" src="../static/img/setting-pic.svg">
    </div>
    <div class="logout-group">
      <div class="logout-wrap">
        <form action="{%url 'logout'%}" method="post">
          {% csrf_token %}
          <button class="logout-button" type="submit">LOGOUT</a></button>
        </form>
      </div>
    </div>
    <button id="start-button" onclick="startGame()">Ready</button>
    <button id="play-button" onclick="startPlay()">Start</button>
    <button type="button" value="Submit" id="callButton" onclick="callAction()" style="visibility: hidden;">Call</button>
    <button type="button" value="Submit" id="checkButton" onclick="checkAction()" style="visibility: hidden;">Check</button>
    <button type="button" value="Submit" id="foldButton" onclick="foldAction()" style="visibility: hidden;">Fold</button>

    <div id="buttons_go_here"></div>
    <script>
      const myUserName = "{{ request.user.username }}"
      const myUser = "{{request.user}}"
      window.onload = connectToServer
    </script> 
  </body>
</html>
